* {
    margin: 0;
    padding:0;
}

/*cabecera*/
header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#sobreproyecto {
    background-color:darkslategrey;
    padding: 20px;
}

/*columna izquierda*/
.zonaizquierda {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 15%;
    height: 450px;
    float: left;
    padding: 25px;
    font-family:comic sans-serif;
}

aside.left-sidebar h2 {
    color:darkred;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

#creador {
    text-align: center;
    margin-top: 25px;
    font-size: 1em;
}

#creador2 {
    margin-top: 20px;
    text-align: center;
}

#creador3 {
    margin-top: 5px;
    text-align: center;
    font-style: italic;
}

#info {
    margin-top: 50px;
}

#enlace {
    font-weight: bold;
    font-size: 1.2em;
}

#enlace:visited {
    color:white;
}

/*contenido central*/
.main {
    float:left;
    width: 30%;
    height: auto;
}

#centro {
    background-image: url(/img/html5.jpg);
    background-repeat: no-repeat;
    width: 853.5px;
    height: 450px;
    font-size:medium;
    margin: 0px auto;
    padding: 25px;
}

#celebre {
    text-align: center;
    color:indigo;
}

.frases {
    list-style-type: square;
    margin-top: 10px;
    font-style: italic;
    font-size: 1.1em;
}

.proyecto {
    margin-right: 80px;
    margin-top: 40px;
    width: 300px;
    height:200px ;
}

#documentacion {
    margin-top: 80px;
    font-size: 1.2em;
    color:indigo;
    font-weight: bold;
}
/*columna derecha*/
.right-sidebar {
    background-color: aquamarine;
    width: 16%;
    height: 450px;
    justify-content: right;
    float:right;
    padding: 25px;
    font-family: 'Times New Roman';
}

aside.right-sidebar h2 {
    color:darkcyan;
    text-align: center;
}

#informacion {
    margin-top: 20px;
    line-height: 25px;
    text-align: center;
}

#info2 {
    margin-top: 50px;
}

#enlace2 {
    color:white;
    font-weight: bold;
    font-size: 1.2em;
}

/*pie de página*/
.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

p#foot2 {
    color:darkgreen;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a#foot3 {
    color:white;
    font-weight: bold;
    margin-left: 650px;
}
