* {
    margin: 0;
}
/*cabecera*/
header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    top:0;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#curriculum {
    background-color: darkslategray;
    padding:20px;
}

/*parte izquierda*/
.zonaizquierda {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 16.4%;
    height: 500px;
    justify-content: left;
    float: left;
    padding: 25px;
}

#foto {
    margin-left: 55px;
}

#izquierda {
    border:darkred 2px solid;
    margin-top: 40px;
    margin-left: 33px;
}

.titulo1 {
    color:darkred;
    font-weight: bold;
    font-size: 1.2em;
}

#izquierda th {
    border-bottom: darkred 2px solid;
}

#datosi {
    border:darkred 2px solid;
    margin-top: 60px;
    margin-left:33px;
}

#datosi th {
    border-bottom: darkred 2px solid;   
}

/*parte central*/
.centro {
    background-color: #cb6af8;
    width: 703px;
    height: 400px;
    font-size:small;
    font-family:comic sans-serif;
    margin: 0px auto;
    padding: 75px;
    float: left;
}

.main {
    float:left;
    height: auto;
}

.centro h1 {
    text-align: center;
}

.centro h3 {
    text-align: center;
}

.titulo2 {
    color:indigo;
    font-weight: bold;
    font-size: 1.2em;
}

.filas {
    font-size: 1.1em;
}

#cen2 {
    border:indigo 2px solid;
    margin-top: 20px;
    margin-left: 15%;
    text-align: center;
}

#cen2 th {
    border-bottom:indigo 2px solid;
}

.experiencia {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 25%;
    margin-bottom: 10px;
    color:indigo;
}

#cen3 th {
    background-color:#cb6af8;
}

#cen3 {
    border:indigo 2px solid;
    margin-top: 60px;
    background-color: indigo;
}

#cen3 caption {
    margin-right: 30%;
}

#cen3 td {
    background-color: #cb6af8;
}

/*parte derecha*/
.right-sidebar {
    background-color:aquamarine;
    width: 16.4%;
    height: 500px;
    float:right;
    padding: 25px;
    font-family: comic sans-serif;
}

.titulo3 {
    color:darkcyan;
    font-weight: bold;
    font-size: 1.2em;
}

#pro {
    border:darkcyan 2px solid;
    margin-top: 20px;
}

#pro th {
    border-bottom:darkcyan 2px solid;
}

.labdoo {
    text-align: center;
    text-decoration:underline;
}

.labdoo2 {
    text-align: center;
}

.enlace a {
    color:darkcyan;
    font-weight: bold;
    margin-left: 20px;
}

#pro2 {
    border:darkcyan 2px solid;
    margin-top: 80px;
}

#pro2 th {
    border-bottom:darkcyan 2px solid;
}

.datos {
    text-align: center;
}
/*pie de página*/
.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

p#foot2 {
    color:darkgreen;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a#foot3 {
    color:white;
    font-weight: bold;
    margin-left: 650px;
}