* {
    margin: 0;
}
/*cabecera*/
header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#curriculum {
    background-color: darkslategray;
}

.zonaizquierda {
    margin: 0px auto;
}

/*parte izquierda*/
.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 16.4%;
    height: 500px;
    justify-content: left;
    float: left;
    padding: 25px;
}

div.left2 {
    text-align: center;
    float:left;
}

table.izquierda {
    border:darkred 2px solid;
    margin-top: 40px;
}
table.izquierda th {
    border-bottom: darkred 2px solid;
}

table.datosi {
    border:darkred 2px solid;
    margin-top: 40px;
    border-bottom:darkred 2px solid;
}

/*parte central*/
.centro {
    background-color: #cb6af8;
    width: 703px;
    height: 400px;
    font-size:small;
    font-family:comic sans-serif;
    margin: 0px auto;
    padding: 75px;
    float: left;
}

.main {
    float:left;
    height: auto;
}

table.cen2 {
    border:indigo 2px solid;
    margin-top: 20px;
}

table.cen3 th {
    background-color:#cb6af8;
}

table.cen2 th {
    border-bottom:indigo 2px solid;
}

table.cen3 {
    border:indigo 2px solid;
    margin-top: 60px;
    background-color: indigo;
}

table.cen3 caption {
    margin-right: 30%;
}

table.cen3 td {
    background-color: #cb6af8;
}

/*parte derecha*/
.right-sidebar {
    background-color:aquamarine;
    width: 16.4%;
    height: 500px;
    float:right;
    padding: 25px;
    font-family: comic sans-serif;
}

table.pro {
    border:blue 2px solid;
    margin-top: 10px;
}

table.pro2 {
    border:blue 2px solid;
    margin-top: 60px;
}

/*pie de página*/
.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}
.footer p {
    padding: 10px;
    color:darkgreen;
    font-weight: bold;
}

div.foot2 {
    margin-left: 480px;
}

div.foot3 {
    margin-left: 600px;
}

.foot3 a {
    color:white;
    font-weight: bold;
}