* {
    margin: 0;
    padding:0;
}

header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 2em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

.main {
    float:left;
    width: 50%;
    height: auto;
}

.zonaizquierda {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 15%;
    height: 552px;
    float: left;
    padding: 25px;
    font-family:'Times New Roman';
}

.imprescindibles h4 {
    color:darkred;
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
}

.lugares {
    font-style: italic;
    font-size: 15px;
}

.actividad1 p {
    color:rgb(180, 22, 22);
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 73px;
}

.actividad1 img {
    border-radius: 5px;
    float:left;
}

.borde1 {
    border-color: black;
    padding-top: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
}

.borde1 p {
    margin-left: 10px;
}

.actividad2 p{
    color:rgb(180, 22, 22);
    font-weight: bold;
    font-size:17px;
    margin-top: 15px;
    margin-left: 10px;
}

.lugares2 p {
    font-style: italic;
    font-size: 15px;
}

.actividad2 img {
    border-radius: 5px;
    float:left;
    margin-bottom: 5px;
}

.borde2 {
    border-color: black;
    padding-top: 15%;
    padding-left: 25%;
    padding-bottom: 3%;
}

.borde2 p {
    margin-top: 75px;
    margin-right: 40px;
}

.Características {
    column-count: 3;
    background-color: #cb6af8;
    width: 810px;
    height: 512px;
    font-size:medium;
    margin: 0px auto;
    padding: 45px;
}

.Características h3 {
    color:indigo;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 125%;
}

.columnas p {
    break-after: column;
    font-style: italic;
    font-size: 15.5px;
}

.columnas h4 {
    font-family:'Times New Roman';
    font-size: 20px;
}

div.column1 {
    margin-top: 35px;
}

.column1 h4 {
    margin-left: 55px;
}

div.column2 {
    margin-top: 100px;
}

.column2 h4 {
    margin-left: 37px;
}

div.column3 {
    margin-top: 100px;
}

.column3 h4 {
    margin-left: 55px;
}

div.separar {
    margin-top: 20px;
}

.separar p {
    line-height: 25px;
}

div.separar2 {
    margin-top: 20px;
}

.separar2 p {
    line-height: 24px;
}

div.separar3 {
    margin-top: 20px;
}

.separar3 p {
    line-height: 25px;
}

.right-sidebar {
    background-color:aquamarine;
    width: 15%;
    height: 552px;
    justify-content: right;
    float:right;
    padding: 25px;
    font-family: 'Times New Roman';
}

.right-sidebar h4{
    color:darkcyan;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.right-sidebar p {
    font-size: 12px;
    font-style: italic;
    font-size: 15px;
}

.right-sidebar img {
    border-radius: 5px;
    margin-left: 60px;
}

div.enlace {
    margin-top: 20px;
    margin-left: 55px;
}

div.icono {
    margin-top: 20px;
}

div.descripcion {
    margin-top: 20px;
    line-height: 28px;
}

.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

.footer p {
    padding: 10px;
    color:darkgreen;
    font-weight: bold;
}

div.foot2 {
    margin-left: 500px;
}

div.foot3 {
    margin-left: 700px;
}

.foot3 a {
    color:white;
    font-weight: bold;
}