* {
    margin: 0;
    padding:0;
}

/*cabecera*/
header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    top:0;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#inicio {
    background-color:darkslategrey;
    padding: 20px;
}

 /*columna izquierda*/
.zonaizquierda {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 15%;
    height: 552px;
    float: left;
    padding: 25px;
    font-family:'Times New Roman';
}

aside.left-sidebar h4 {
    color:darkred;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.titulo {
    color:rgb(91, 4, 4);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

figure.imagenes img {
    float:left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pie {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color:rgb(91, 4, 4);
}

#pie2 {
    margin-left: 50px;
    font-style: italic;
    font-size: 15px;
    color:rgb(91, 4, 4);
}

/*contenido central*/
.main {
    float:left;
    width: 50%;
    height: auto;
}

section.Características {
    column-count: 3;
    background-color: #cb6af8;
    width: 810px;
    height: 512px;
    font-size:medium;
    margin: 0px auto;
    padding: 45px;
}

fieldset {
    border: #cb6af8;
    color:indigo;
    font-size: 20px;
    text-decoration: underline;
    text-shadow:rgb(61, 60, 60) 4px 4px 6px;
    margin-left: 75%;
    width: 500px;
}

.columnas p {
    break-after: column;
    font-style: italic;
    font-size: 15.5px;
}

.adj {
    font-family:'Times New Roman';
    font-size: 20px;
    color:indigo;
}

#column1 {
    margin-top: 70px;
}

#column1 h4 {
    margin-left: 55px;
}

.separar {
    margin-top: 20px;
}

.separar p {
    line-height: 24px;
    word-spacing: 5px;
    text-indent: 15px;
    text-align: justify;
    margin-right: 8px;
}

.column2 {
    margin-top: 100px;
}

.column2 h4 {
    margin-left: 37px;
}

.separar2 {
    margin-top: 20px;
}

.separar2 p {
    line-height: 24px;
    word-spacing: 5px;
    text-indent: 15px;
    text-align: justify;
    margin-right: 8px;
}

/*columna derecha*/
.right-sidebar {
    background-color:aquamarine;
    width: 15%;
    height: 552px;
    justify-content: right;
    float:right;
    padding: 25px;
    font-family: 'Times New Roman';
}

.right-sidebar h4{
    color:darkcyan;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.right-sidebar p {
    font-size: 12px;
    font-style: italic;
    font-size: 15px;
}

.right-sidebar img {
    border-radius: 5px;
    margin-left: 60px;
}

#enlace {
    margin-top: 20px;
    margin-left: 35px;
}

#enlace a {
    font-weight: bold;
    font-size: 1.5em;
    color:white;
}

#enlace a:hover {
    color:black;
}

#icono {
    margin-top: 20px;
}

#descripcion {
    margin-top: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: justify;
}

/*pie de página*/
.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
    position: sticky;
    bottom:0;
    z-index:1;
}

p#foot2 {
    color:darkgreen;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a#foot3 {
    color:white;
    font-weight: bold;
    margin-left: 650px;
}