* {
    margin: 0;
    padding:0;
}

.header {
    width: 100%;
    height: 100px;
}

.nav {
    background-color:lightslategrey;
    width: 100%;
    height: 100px;
    display: inline-block;
    justify-content: center;
}

.nav2 a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color:beige;
    font-weight: inherit;
    padding: 40px 150px;
}

ul {
    list-style-type: none;
    display:flex;
    padding: 30px 20px;
}


.main {
    float:left;
    width: 50%;
    height: auto;
}

.zonaizquierda {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 15%;
    height: 552px;
    justify-content: left;
    float: left;
    padding: 25px;
    font-family:'Times New Roman';
}

.imprescindibles h4 {
    color:darkred;
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
}

.lugares {
    font-style: italic;
    font-size: 15px;
}

.actividad1 p {
    color:rgb(180, 22, 22);
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 60px;
}

.actividad1 img {
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 30px;
}

.borde1 {
    border-color: black;
}

.borde1 p {
    margin-left: 10px;
}

.actividad2 p{
    color:rgb(180, 22, 22);
    font-weight: bold;
    font-size:17px;
    margin-top: 15px;
    margin-left: 10px;
}

.lugares2 p {
    font-style: italic;
    font-size: 15px;
}

.actividad2 img {
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 40px;
}

.borde2 {
    border-color: black;
}

.borde2 p {
    margin-left: 60px;
}

.Características {
    column-count: 3;
    background-color: #cb6af8;
    width: 110.5%;
    height: 511.5px;
    font-size:medium;
    margin: 0px auto;
    padding: 45px;
}

.Características h3 {
    color:indigo;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 110%;
}

.columnas p {
    break-after: column;
    font-style: italic;
    font-size: 15.5px;
}

.columnas h4 {
    font-family:'Times New Roman';
    font-size: 20px;
}

div.column1 {
    margin-top: 35px;
}

div.column2 {
    margin-top: 100px;
}

div.column3 {
    margin-top: 100px;
}

div.separar {
    margin-top: 20px;
}

div.separar2 {
    margin-top: 20px;
}

div.separar3 {
    margin-top: 20px;
}

.right-sidebar {
    background-color:aquamarine;
    width: 15%;
    height: 551.5px;
    justify-content: right;
    float:right;
    padding: 25px;
    font-family: 'Times New Roman';
}

.right-sidebar h4{
    color:darkcyan;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.right-sidebar p {
    font-size: 12px;
    font-style: italic;
    font-size: 15px;
}

.right-sidebar img {
    border-radius: 5px;
}

div.enlace {
    margin-top: 20px;
}

div.icono {
    margin-top: 20px;
}

div.descripcion {
    margin-top: 20px;
}

.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

.footer p {
    padding: 10px;
    color:darkgreen;
    font-weight: bold;
}
