* {
    margin: 0;
}

header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#formulario {
    background-color: darkslategrey;
    padding:20px;
}

/*columna izquierda*/
.left-sidebar {
    margin: 0px auto;
}

.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 21%;
    height: 500px;
    justify-content: left;
    float: left;
    font-family:comic sans-serif;
    font-size:small;
}

.left-sidebar fieldset {
    padding: 10px;
    padding-top: 10px;
    height: 470px;
}
.datos legend {
    font-size: 18px;
    color:darkred;
    font-weight: bold;
    margin-left: 48px;
}

.nombre {
    margin-top: 10px;
    font-size: 1.3em;
    color:darkred;
}

.apellidos {
    margin-top: 10px;
    font-size: 1.3em;
    color:darkred;
}

.fecha {
    margin-top: 15px;
    font-size: 1.3em;
    color:darkred;
}

.sexo {
    margin-top: 10px;
    font-size: 1.3em;
    color:darkred;
}

.nacionalidad {
    margin-top: 18px;
    font-size: 1.3em;
    color:darkred;
}

.dni {
    margin-top: 15px;
    font-size: 1.3em;
    color:darkred;
}

.validez {
    margin-top: 18px;
    font-size: 1.3em;
    color:darkred;
}

.lugardenacimiento {
    margin-top: 18px;
    font-size: 1.3em;
    color:darkred;
}

/*parte central-main*/
.main {
    float:left;
    width: 50%;
    height: auto;
}

.contacto {
    background-color:  #cb6af8;
    width: 706px;
    height: 490px;
    font-size:small;
    font-family: comic sans-serif;
    margin: 0px auto;
    padding: 5px;
    float:left;
}

.contacto2 {
    padding: 0;
    height: 485px;
}

.contacto legend {
    font-size: 18px;
    color:indigo;
    font-weight: bold;
    margin-left: 220px;
}

.motivo {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.poe {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.ocupacion {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.web {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.mail {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.tlfno {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.prefer {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.idioma {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

.nivel {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

/*columna derecha*/
.right-sidebar {
    background-color:aquamarine;
    width: 25%;
    height: 470px;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font-family:comic sans-serif;
    font-size:small;
}

.extra2 fieldset {
    padding: 15px;
    padding-right: 25px;
    height: 455px;
}
.extra2 legend {
    font-family:comic sans-serif;
    font-weight: bold;
    color:darkcyan;
    font-size: 18px;
    margin-left: 110px;
}

.coment {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.3em;
    color:darkcyan;
}

.archivo {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.3em;
    color:darkcyan;
}

.register {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.3em;
    color:darkcyan;
    text-decoration: underline;
    font-weight: bold;
}

.pwd {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 1.3em;
    color:darkcyan;
}

input.boton {
    margin-top:20px;
    height: 40px;
    width: 60px;
}

/*pie de página*/
.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

p#foot2 {
    color:darkgreen;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a#foot3 {
    color:white;
    font-weight: bold;
    margin-left: 650px;
}