* {
    margin: 0;
}

header {
    background-color: lightslategrey;
    height: 100px;
    padding: 1% 1% 0% 5%;
    font-family:sans-serif;
    position:sticky;
    z-index: 1;
    text-align: center;
}

a.header {
    color:white;
    font-size: 1.5em;
    margin-right: 15%;
}

a.header:hover {
    color:black;
}

#formulario {
    background-color: darkslategrey;
}

.main {
    float:left;
    width: 50%;
    height: auto;
}

.zonaizquierda {
    margin: 0px auto;
}

/*columna izquierda*/
.left-sidebar {
    background-color: rgb(232, 106, 106);
    width: 21%;
    height: 500px;
    justify-content: left;
    float: left;
    font-family:comic sans-serif;
    font-size:small;
}

.left-sidebar fieldset {
    padding: 10px;
    padding-top: 10px;
    height: 470px;
}
.datos legend {
    font-size: 18px;
    color:darkred;
    font-weight: bold;
    margin-left: 48px;
}

div.nombre {
    margin-top: 10px;
    font-size: 15px;
    color:darkred;
}

div.nombre2 {
    margin-top: 5px;
}

div.apellidos {
    margin-top: 10px;
    font-size: 15px;
    color:darkred;
}

div.apellidos2 {
    margin-top: 5px;
}

div.fecha {
    margin-top: 15px;
    font-size: 15px;
    color:darkred;
}

div.sexo p {
    margin-top: 10px;
    font-size: 15px;
    color:darkred;
}

div.sexo2 {
    font-size: 15px;
    margin-top: 10px;
    color:rgb(180, 22, 22);
}

div.nacionalidad {
    margin-top: 18px;
    font-size: 15px;
    color:darkred;
}

div.nacionalidad2 {
    margin-top: 5px;
}

div.dni {
    margin-top: 15px;
    font-size: 15px;
    color:darkred;
}

div.dni2 {
    margin-top: 5px;
}

div.validez {
    margin-top: 18px;
    font-size: 15px;
    color:darkred;
}

div.lugarnacimiento {
    margin-top: 18px;
    font-size: 15px;
    color:darkred;
}

div.lugarnacimiento2 {
    margin-top: 5px;
}

/*parte central-main*/
.contacto {
    background-color:  #cb6af8;
    width: 706px;
    height: 490px;
    font-size:small;
    font-family: comic sans-serif;
    margin: 0px auto;
    padding: 5px;
    float:left;
}

.contacto fieldset {
    padding: 0;
    height: 485px;
}

.contacto legend {
    font-size: 18px;
    color:indigo;
    font-weight: bold;
    margin-left: 220px;
}

div.motivo {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.motivo2 {
    margin-top: 5px;
}

div.poe {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.ocupacion {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.ocupacion2 {
    margin-top: 5px;
}

div.web {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.web2 {
    margin-top: 5px;
}

div.mail {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.tlfno {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.prefer {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.prefer2 {
    margin-top: 5px;
}

div.idioma {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

div.nivel {
    margin-top: 15px;
    font-size: 15px;
    color:indigo;
    margin-left: 5px;
}

/*columna derecha*/
.right-sidebar {
    background-color:aquamarine;
    width: 25%;
    height: 470px;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    font-family:comic sans-serif;
    font-size:small;
}

div.extra fieldset {
    padding: 15px;
    padding-right: 25px;
    height: 455px;
}
.extra2 legend {
    font-family:comic sans-serif;
    font-weight: bold;
    color:blue;
    font-size: 18px;
    margin-left: 110px;
}

div.coment {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    color:blue;
}

div.coment2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    color:blue;
}

div.archivo {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color:blue;
}

div.register {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    color:blue;
}

div.pwd {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    color:blue;
}
div.pwd2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    color:blue;
}




.footer {
    background-color: rgb(118, 220, 110);
    width: 100%;
    height: 100px;
    clear: both;
    margin-top: 5px;
}

.footer p {
    padding: 10px;
    color:darkgreen;
    font-weight: bold;
}

div.foot2 {
    margin-left: 480px;
}

div.foot3 {
    margin-left: 600px;
}

.foot3 a {
    color:white;
    font-weight: bold;
}